.page {
  background-image: var(--background-image);
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 375px;
  background-size: cover;
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--border-menu-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec__label {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  line-height: 25px;
  font-size: 18px;
  top: 10px;
  right: 38px;
}

.section__link {
  text-decoration: none;
  font-weight: 400;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.section__link:hover {
  border-bottom: 1px solid var(--color-text);
}

.rec__label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
}

.header__theme-menu-list {
  position: absolute;
  top: 78px;
  right: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-self: end;
  align-self: start;
  gap: 10px;
  padding-left: 285px;
}

.header__theme-menu-item {
  color: var(--menu-color);
  font-size: 18px;
  line-height: 18px;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  font-size: 18px;
  line-height: 18px;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button:hover {
    border-color: var( --border-menu-color-hover);
  }

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__type__no-focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  color: var(--color-title);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  margin-left: 10px;
  justify-self: start;
}

.title__type__todo {
  width: 96%;
  max-width: 355px;
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--color-title-text);
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: center;
  padding-right: 35px;
  margin-bottom: 10px;
}

.section {
  display: grid;
  gap: 20px;
  max-width: 355px;
  margin: 40px auto;
  justify-items: center;
}

.section__title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--color-section-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  max-width: 355px;
  width: 100%;
  justify-self: start;
}
.section_type_why{
}
.section_type_what{
  margin-top: 50px;
}
.section__type_how{
  margin-top: 48px;
}
.section__type_pictures{
  margin-top: 48px;
  margin-bottom: 40px;
}
.section__item {
  display: grid;
  gap: 10px;
  justify-items: start;
}

.section__item-title {
  width: 100%;
  background-color: var(--title-decor);
  color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section__type_how .section__item-title{
  font-weight: 400;
}

.section__item-title-type-how {
  width: 100%;
  background-color: var(--title-decor);
  color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section__item-text {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--color-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  width: 100%;
}

.section__item-title-pictures {
  width: 355px;
  margin: auto;
  background-color: var(--title-decor);
  color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
  padding-right: 138px;
}

.section__item-pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

.section__item-pictures img {
  width: 95%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
}

.focus__logo {
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 700;
  color: var(--color-title);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.section_type_why,
.section_type_what,
.section__type_how {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
  }
    .header__type__no-focus{
      margin-left: 0px;
  }
  .header__theme-menu-list {
    position: absolute;
    top: 193px;
    right: 19px;
    padding: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .title__type__todo {
    grid-row: 3;
    align-self: center;
    text-align: initial;
    max-width: 364px;
    padding-right: 45px;
    margin-bottom: 26px;
    margin-right: 20px;
    justify-self: end;
  }

  .section_type_why {
    grid-template-columns: 1fr 2fr;
    gap: 20px 20px;
    max-width: 728px;
    margin: 58px auto;
    align-items: start;
  }

  .section_type_why .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }

  .section_type_what {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 20px;
    max-width: 728px;
  }

  .section_type_what .section__title {
    padding-right: 120px;
  }

  .section__type_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px 20px;
    max-width: 728px;
    margin: 80px auto;
    align-items: start;
  }

  .section__type_how .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / span 6;
  }

  .section__type_pictures {
    max-width: 728px;
    margin: 40px auto 60px;
  }

  .section__item-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 191px 230px 318px;
    gap: 20px;
  }

  .section__item-title-pictures {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding-right: 510px;
  }

  .section__item-pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .section__item-pictures img:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section__item-pictures img:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__item-pictures img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .section__item-pictures img:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .section__item-pictures img:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  .focus__logo {
    text-align: center;
  }
  .rec__label {
    top: 20px;
    right: 48px;
  }
}

@media (width >= 1024px) {

  .header {
    position: relative;
    min-height: 768px;
    grid-template-rows: 1fr min-content 1fr;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 22px;
    left: 22px;
  }

  .header__theme-menu-list {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    right: auto;
  }

  .rec__label {
    top: 20px;
    right: 48px;
  }

  .header__type__no-focus {
    grid-row: 2;
    font-size: clamp(116px, calc(97.82px + 5.68vw), 200px);
  }

  .title__type__todo {
    grid-row: 3;
    max-width: 491px;
    padding-right: 4px;
    align-self: center;
    margin-bottom: 18px;
    margin-right: 20px;
  }

  .section_type_why {
    gap: 20px 10px;
    max-width: 96%;
  }

  .section_type_what {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    max-width: 96%;
  }

  .section_type_what .section__title {
    grid-column: 1 / -1;
    font-size: 18px;
    padding-right: 90px;
  }

  .section_type_what .section__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .section_type_what .section__item-title {
    font-size: 18px;
  }

  .section_type_what .section__item-text {
    font-size: 18px;
  }

  .section__type_how {
    gap: 20px 10px;
    max-width: 96%;
  }

  .section__type_pictures {
    max-width: 96%;
  }

  .section__item-pictures {
    grid-template-rows: auto 259px 315px 433px;
  }

  .focus__logo {
    font-size: clamp(116px, calc(97.82px + 5.68vw), 200px);
  }
  .section__item-title-pictures{
    padding-right: 766px;
  }
}

