:root{
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --color-title: #DB00FF;
  --color-title-text: #FF0070;
  --color-text: #F1B2CE;
  --title-decor:#FF0070;
  --menu-color: #FF0070;
  --color-section-title: #FF0070;
  --border-menu-color: #FF0070;
  --border-menu-color-light: rgba(50, 49, 45, 0.4);
}